
$bgColorBody: #1B325F;
$bgColorMain: #fff;

$contrasted-dark-default: #000;
$contrasted-light-default: #fff;

$threadless: #1B325F;
$threadless-light: #9CC4E4;
$threadless-box: #E9F2F9;
$threadless-yay: #3A89C9;
$threadless-melo: #F26C4F;
